[submodule "actions/todo.txt-graph"]
	path = actions/todo.txt-graph
	url = git@github.com:timpulver/todo.txt-graph.git
[submodule "actions/graph"]
	path = actions/graph
	url = git@github.com:timpulver/todo.txt-graph.git
[submodule "actions/watch"]
	path = actions/watch
	url = https://github.com/kynda/todot.txt-watch.git
